/* ERROR CSS
*********************************************/
body {
    background: url(../images/bg.png) center top repeat-y #E0E4E7;
    color:#000;
    font-size:78%;
    margin:0;
    padding:0;
    text-align:center;
    height: 100%;
}
#main {
    margin-top: 12%;
    height: 100%;
}

#error {
    /*width:814px;*/
    width: 100%;
    margin:0;
    padding-top:40px;
    padding-bottom:60px;
    background: #fff;
}
#error .img-wrapper {
    width: 100%;
    text-align: center;
}
#error .img-wrapper img {
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
}
h1 {
    margin:0 0 20px 0;
}
.search label {
    display:none
}
