/*
================================================================================
FONTS
================================================================================
@font-face { font-family: 'titillium_web'; src: url('../fonts/titilliumweb-italic_0-webfont.eot'); src: url('../fonts/titilliumweb-italic_0-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/titilliumweb-italic_0-webfont.woff2') format('woff2'), url('../fonts/titilliumweb-italic_0-webfont.woff') format('woff'), url('../fonts/titilliumweb-italic_0-webfont.ttf') format('truetype'), url('../fonts/titilliumweb-italic_0-webfont.svg#titillium_webitalic') format('svg'); font-weight: normal; font-style: italic; }
@font-face { font-family: 'titillium_web'; src: url('../fonts/titilliumweb-regular_0-webfont.eot'); src: url('../fonts/titilliumweb-regular_0-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/titilliumweb-regular_0-webfont.woff2') format('woff2'), url('../fonts/titilliumweb-regular_0-webfont.woff') format('woff'), url('../fonts/titilliumweb-regular_0-webfont.ttf') format('truetype'), url('../fonts/titilliumweb-regular_0-webfont.svg#titillium_webregular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'titillium_web'; src: url('../fonts/titilliumweb-semibold_0-webfont.eot'); src: url('../fonts/titilliumweb-semibold_0-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/titilliumweb-semibold_0-webfont.woff2') format('woff2'), url('../fonts/titilliumweb-semibold_0-webfont.woff') format('woff'), url('../fonts/titilliumweb-semibold_0-webfont.ttf') format('truetype'), url('../fonts/titilliumweb-semibold_0-webfont.svg#titillium_websemibold') format('svg'); font-weight: bold; font-style: normal; }
@font-face { font-family: 'titillium_web'; src: url('../fonts/titilliumweb-semibolditalic_0-webfont.eot'); src: url('../fonts/titilliumweb-semibolditalic_0-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/titilliumweb-semibolditalic_0-webfont.woff2') format('woff2'), url('../fonts/titilliumweb-semibolditalic_0-webfont.woff') format('woff'), url('../fonts/titilliumweb-semibolditalic_0-webfont.ttf') format('truetype'), url('../fonts/titilliumweb-semibolditalic_0-webfont.svg#titillium_websemibold_italic') format('svg'); font-weight: bold; font-style: italic; }
*/

/*
================================================================================
COLORS
================================================================================
Rosso Lexia #B21B16
Grigio Lexia #3D3C3F
*/ 

/*
================================================================================
ICONS & COLOR CLASS
================================================================================
*/

.icon { background: rgba(0,0,0,0.00); height: 24px; width: 24px; }

/*
================================================================================
LAYOUT
================================================================================
*/

html { }
a,a:hover,a:visited,a:focus{ color: #B21B16; }
a:hover { text-decoration: none; opacity: 0.8 }
body {font-family: 'Nunito Sans', sans-serif;  }
h1, h2, h3, h4, h5, h6 { font-size: 24px; }
h3{color: #6b6b6b;line-height: 24px;font-weight: 300;letter-spacing: 3px;text-transform: uppercase; margin: 12px 0; font-size: 16px;}
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
i.fas{color:#B21B16}

/*Preload image */

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.preload { 	position: fixed;	left: 0px;	top: 0px;	width: 100%;	height: 100%;	z-index: 9999;	background: rgba(255,255,255,0.9);}
.preload .spinner{position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); font-size: 7rem;  color: #B21B16; opacity: .8; text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);}

/*HEADER*/
#header .logo{ padding: 0; margin: 0;}
#header .sponsors{ padding-top: 20px}
#header .sponsors div{ text-align: center;}


.page-header h1{
    padding: 5px 20px;
    background: rgba(255,255,255,08);
    margin:-50px;
    border-bottom: 0px solid #eeeeee;
}
/*NAVBAR MENU*/
/*ul.menu li a { list-style: none; margin: 0px; float: left; padding: 0; }
ul.menu li.item-435, ul.menu li.item-728 { display: none; }
ul.menu li, ul.menu ul { list-style: none; margin: 0px; }
ul.menu li ul { position: absolute; left: 0; float: left; margin: 1px 0; width: 100%; font-size: 10px; text-transform: uppercase; box-shadow: 0 1px 5px #222; height: 20px; line-height: 20px; }
ul.menu li ul a { color: #ddd; text-decoration: none; padding: 0 10px; }
ul.menu li ul a:hover, ul.menu li ul li.active a { color: #fff; text-decoration: none; }
ul.menu li ul li { float: left; color: #FFF; height: 20px; margin: 0px 0px 0 0; }*/

/*NAVBAR MENU DESKTOP*/
/*#navbar .menu.desktop { }
#navbar ul.menu.desktop li ul { top: 100px; padding: 0; line-height: 24px; height: 24px; }
#navbar .menu > li.parent > a { position: relative; width: 6.66666666%; min-height: 100px; font-size: 9px; line-height: 12px; color: #FFF; text-transform: uppercase; text-align: center; border-left: 1px solid #FFF; }
#navbar .menu > li.parent > a:focus { background: #FFF; }
#navbar .menu > li.parent.first_parent > a { border-left: none; }
#navbar .menu > li.parent > a:hover { background: none; }
#navbar .menu > li.parent > a .item-container { position: absolute; bottom: 0; width: 100%; height: 60%; text-align: center; }
#navbar .menu > li.parent > a .item-title { position: absolute; bottom: 4px; width: 100%; }
#navbar .menu > li.parent > a img { position: absolute; width: 60%; top: 20px; left: 20%; z-index: 11; }
#navbar .menu li.parent a:hover { text-shadow: 1px 1px 3px #FFFFFF; }
#navbar .menu > li.parent.active > a img, #navbar .menu li.parent a:hover img { width: 80%; top: 8px; left: 10%; }*/

/*MAIN*/
#header{ background: #fff;  }
#main { background: #fff; }


/*MAIN MENU*/
#navbar { 
    /*position: fixed;*/ 
    z-index: 100; width: 100% }
#navbar .navbar-inverse { }
#navbar ul li {padding: 1rem 0; text-transform: uppercase; color: rgba(255,255,255,1.00); text-align: center; font-size: 2rem ; width: 100%; letter-spacing: 2px; }
#navbar ul li:last-child { border:0px; }
#navbar ul li a:hover{ background: none; color: #B21B16; opacity: 0.8 }
#navbar ul li a:focus{ background: none; color: #B21B16; opacity: 0.8 }
#navbar ul li.current a{ background: none; color: #B21B16 }
#navbar ul li.current{  }
#navbar ul li a { color: #B21B16; display:inline;   }
.toolbar{float: right;top: 0; right: 0; position: absolute; padding: 20px}
.toolbar img{margin-left: 10px;}
.mod_menu{
    background: linear-gradient(rgba(255, 255, 255,1),rgba(255,255,255,1));
    width: 100%;
    padding: 0px 0;
    box-shadow: 0 0 5px #e1e1e1;
    z-index: 997;
    margin: 0;
    /*border-radius: 0 0 20px 0;*/
    /*border-right: 2px solid;*/
    /*border-bottom:  2px solid;*/
    /*border-color: #B21B16;*/
    /*box-shadow: 0 0 4px #ddd;*/
    position: fixed;
}
.mod_menu.fix{
    position: fixed;
    -webkit-transition: .3s;
    transition: .3s;
}
#header_position.mod_menu{
    display:none;
    height: 80px;
}
#header_position.mod_menu.fix_menu_position{
    display:block;
    height: 80px;
}
.mod_menu .logo{
    float: left;
    padding: 2px 20px;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.menu-container {
    display: none;
}
.menu {
    min-width: 100px;
    /*background: rgba(0,0,0,0.8);*/
    color: #fff;
    height: 100vh;
    padding: 10vh 0;
}
.menu-button {
    top: 0px; left: 0px;
    padding: 15px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    /*background: rgba(0,0,0,0.8);*/
    z-index: 999;
    /*margin: 14px;
    border-radius: 5px;*/
}
.menu-button .bar:nth-of-type(1) {
    margin-top: 0px;
}
.menu-button .bar:nth-of-type(3) {
    margin-bottom: 0px;
}
.bar {
    position: relative;
    display: block;
    width: 50px;
    height: 4px;
    margin: 10px auto;
    background-color: #009246;
    border-radius: 10px;
    -webkit-transition: .3s;
    transition: .3s;
}
.bar.white{
    background-color: rgb(255,255,255);
}
.bar.red{
    background-color: #B21B16;
}
.menu-button:hover .bar:nth-of-type(1) {
    /*    -webkit-transform: translateY(1.5px) rotate(-4.5deg);
        -ms-transform: translateY(1.5px) rotate(-4.5deg);
        transform: translateY(1.5px) rotate(-4.5deg);*/
}
.menu-button:hover .bar:nth-of-type(2) {
    opacity: 1;
}
.menu-button:hover .bar:nth-of-type(3) {
    /*    -webkit-transform: translateY(-1.5px) rotate(4.5deg);
        -ms-transform: translateY(-1.5px) rotate(4.5deg);
        transform: translateY(-1.5px) rotate(4.5deg);*/
}
.cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(14px) rotate(-45deg);
    -ms-transform: translateY(14px) rotate(-45deg);
    transform: translateY(14px) rotate(-45deg);
}
.cross .bar:nth-of-type(2) {
    opacity: 0;
}
.cross .bar:nth-of-type(3) {
    -webkit-transform: translateY(-14px) rotate(45deg);
    -ms-transform: translateY(-14px) rotate(45deg);
    transform: translateY(-14px) rotate(45deg);
}
.cross:hover .bar:nth-of-type(1) {
/*    -webkit-transform: translateY(13.5px) rotate(-40.5deg);
    -ms-transform: translateY(13.5px) rotate(-40.5deg);
    transform: translateY(13.5px) rotate(-40.5deg);*/
}
.cross:hover .bar:nth-of-type(2) {
    opacity: 0;
}
.cross:hover .bar:nth-of-type(3) {
/*    -webkit-transform: translateY(-13.5px) rotate(40.5deg);
    -ms-transform: translateY(-13.5px) rotate(40.5deg);
    transform: translateY(-13.5px) rotate(40.5deg);*/
}

/*SLIDESHOW*/
#slideshow{padding-top: 60px;}
.slideshow { margin-top: 80px; -webkit-transition: all 0.5s ease;
             -moz-transition: all 0.5s ease;
             -o-transition: all 0.5s ease;
             transition: all 0.5s ease;}
.slideshow .slide{ width: 100%;}
.slideshow .slide img{ width: 100%;}

#slideshow .header{position: relative}
#slideshow .header img{ }
#slideshow .header .header_title{ z-index: 996; position: absolute; background: rgba(255,255,255,1); padding: 10px 30px; bottom: 0 ; right: 0; font-size: 3rem; text-align: right; border-radius: 10px 0 0 0;  }
#slideshow .header .header_title span{ z-index: 996; }
#slideshow .header .header_title.fix{ position: fixed;  top:0;right: 0;   bottom: unset; color: #333 ; border-radius: 0 0 0 10px; box-shadow: 0 0 5px #e1e1e1}


.item-page{ margin: 4rem ;}

.place-card-large{margin-left: 80px;}

.pagination {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > ul{
    text-align: center;
    width: 100%;
}

.pagination > li {
    display: inline;
}
.pagination > li > a, .pagination > li > span {
     position: relative; 
     float: none; 
    padding:2px 5px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #333;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #ffffff;
    background-color: #333;
    border-color: #333;
    cursor: default;
}





